@import "variables";
@import "index";
@import "adopcionesaportes";
@import "quienessomos";
@import "contacto";
*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

/*inicio body*/
body{
    background-image:url(../img/fondo-perraco-1200w.jpg);
    background-repeat: no-repeat;
    background-size: cover  ;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
/*fin body*/
/*inicio footer*/
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    margin-top: 15px;
 
    .footer_div{
        display: flex;
        flex-direction:row;
        align-self: flex-end;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 15px;
    }
    
    
    .img-footer{
        width: 50px;
        height: 50px;
        justify-content: flex-start;
        margin-left: 5px;
    }
    
    .p_copy{
        color:map-get($color, color1 );
        display: flex;
        justify-content: center; 
    }
}
/* fin footer*/


/*inicio header*/
.zoom_1-4{
    transform: scale(1)
}

.zoom_1-4:hover{
    transform: scale(1.4);
    background-color: map-get($color, color3 ) ;
    color: map-get($color, color2 );
    border-radius: 25px;
    text-decoration: underline solid 2px map-get($color, color2 );
    width: auto;
    
}

.zoom_1-2{
    transform: scale(1);
    
}

.zoom_1-2:hover{
    @extend.zoom_1-4:hover;
    transform: scale(1.2);
    width: none;
}

.zoom_1-3{
    transform: scale(1);
}

.zoom_1-3:hover{
    @extend.zoom_1-4:hover;
    transform: scale(1.01);
    background-color: rgba(230, 226, 145, 0.867) ;
    color: map-get($color, color1 );
    z-index: 2;
}

/*fin header*/
/*inicio carousel*/
.img_carousel_v{
    width: 500px;
    height: 750px;
}

.img_carousel_h{
    height: 700px;
    width: 1000px;
}

.p_carousel{
    margin: $margen;
    padding: $padding;
    width:$ancho;
    @include bordes;
}

.color_carousel{
    @include bordes;
    color:map-get($color, color1 );
    background-color:map-get($color, color2 );
}

.botones_carousel{
    margin: $margen;
    padding: $padding;
    width: $ancho;
}
/*fin carousel*/

.h1_class{
    color: map-get($color, color1 );
    background-color: map-get($color,color2 ) ;
    margin-top: 45px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    height: min-content;
    width: $ancho;
    @include bordes;
    font-size: 3rem;
    z-index: 10;
}

.color-bg{
    color:map-get($color, color1 );
    background-color:rgba(229,226,173,0.986)

}

.color_letra{
    color:map-get($color, color1 );
}


.size_header{
    width: 100%;
    border: 2.5px solid;
    border-color: map-get($color, color1 );
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    body{
        background-image: url(../img/fondo-perraco-800w.jpg);
    }

    /*inicio footer*/
        .img-footer{
            width: 25px;
            height: 25px;
        }
    /*fin footer*/
    
   
    /*inicio carousel*/
    .img_carousel_v{
        width: 200px;
        height: 300px;
    }
    
    .img_carousel_h{
        height: 300px;
        width: 450px;
    }
    /*fin carousel*/
    /*inicio header*/
    .zoom_1-4:hover{
        transform: scale(1.2);
        width: 80%;
    }
    /*fin header*/
    .zoom_1-3:hover{
        transform: scale(1.1);
    }

    .h1_class{
        font-size: 1.5rem;
    }
}


@media screen and (min-width: 801px) and (max-width: 1199px) {

    body{
        background-image: url(../img/fondo-perraco-1200w.jpg);
    }
    
    /*inicio footer*/
        .img-footer{
            width: 37.5px;
            height: 37.5px;
        }
    /*fin footer*/
   
  /*inicio carousel*/
    .img_carousel_v{
        width: 330px;
        height: 500px;
    }
    
    .img_carousel_h{
        height: 460px;
        width: 665px;
    }
    /*fin carousel*/
    /*inicio header*/
      .zoom_1-4:hover{
        width: min-content;
        transform: scale(1.2) }
    /*fin header*/

    .zoom_1-3:hover{
        transform: scale(1.2);
    }

    .h1_class{
        font-size: 2rem;
    }
}
/*fin media queries*/